bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/OSU_WinForm/FileContentIndex/6d688047-6f30-4a31-a5dc-82d6ba339cdc.vsidx
/.vs/OSU_WinForm/FileContentIndex/da95b82e-8a93-48b7-b4b6-5dccdec35fdb.vsidx
/.vs/OSU_WinForm/FileContentIndex/f760d2d7-6f7c-4401-811e-f0af62b93be9.vsidx
